body {
    font-family: 'Lato', sans-serif;
    /*height: 100%;*/
}

.landing {
    background-image: url("/images/h_img.jpg");
    width: 100%;
    height: 125vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing img {
    align-content: center;
    position: absolute;
    padding: 15%;
}

.landing-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#about-us {
    text-align: center;
}

#services{
    background-image: url("/images/s_image.jpg");
    color: white;
    
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
#services-text{
    position: absolute;
    text-align: center;
    padding: 11%;
}